.layout {
  display: flex;
  flex-direction: column;
 

  height: 100vh;
}
.conteinerMainAdmin
{
  
  width: 100vw;


  display: flex;

  
}



.conteinerMain {


  width: 100vw;


  place-items: center; 
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px; /* espacio entre columnas/filas */
  overflow-y: auto;


}
main {
  grid-area: main;
  display: flex;
   height: 76vh;
}

@media screen and (max-width: 1605px) {
 main {
  grid-area: main;
  display: flex;
   height: 65vh;
}
}
