.layout {
  display: flex;
  flex-direction: column;
 

  height: 100vh;
}
.conteinerMainAdmin
{
  margin: 0;
  padding: 0;
  width: 100%;

  
}
.contMenu
{
  position: fixed;
  z-index: 30;
  width: 100%;
  
}


.conteinerMain {

  place-items: center; 
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 5px; /* espacio entre columnas/filas */
  margin-top: 197px;



}



