.ConteinerMarcas
{

  margin: 0;
  background-color: #1E3A8A;
  height: 50px;
    grid-area:marcas;
  display:  flex;
  flex-direction:  row;
   align-items: center;
  justify-content: space-around;

}

.ConteinerMarcas li
{
  color: white;
  text-decoration: none;
   list-style: none;
   cursor: pointer;
}
.ConteinerMarcas li:hover
{
  color: rgb(0, 153, 204);
   transform: scale(1.05);

 
}