nav {
  grid-area: nav;
  display:  flex;
  flex-direction: row;
 background-color:#630303;
  align-items: center;
  justify-content:  space-between;
 padding:  7px;
  
}

 nav ul {
  display:  flex;
  gap:  20px;

  list-style-type: none;  /* Esto elimina los puntos */
   /* Opcional: para que no quede espacio a la izquierda */
  margin-right: 50px;      
        /* Opcional: para ajustar el margen */
}
.iniciarSesionLbl:hover
{
    cursor: pointer;
  
}
.inutNavbar
{ 
  border-radius: 10px;
  padding: 5px;
  width: 30vw;
  outline: none;
  border:  none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
nav ul li a
{
    font-size:  17px;
    color: white;  
      text-decoration: none;
}
.logo {
  width: 8vw;
  max-width: 6vw;

  margin-right: 10px;
  margin-left:   10px;

}
