.conteinercardMoto {
  width: 270px;
  height: 340px;
  background-color: #ffffff;
  border: 0.2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
  color: rgb(3, 3, 3);
  font-size: 20px;
  transition: 0.5s ease-out;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}
.conteinercardMoto:hover
{
      border: 0.7px solid#860707;
}
.imgMoto
{
    width: 90%;
    height: 50%;
}

.caracteristicasConteiner p
{
    text-align: center;
    padding: 0;
    margin: 0;
}
