.LogoLogin
{
    width: 150px;
    height: 90px;
}
.ConteinerLogin
{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18vw;
    padding: 25px;
   

}
.register
{
    font-size: 13px;
    margin-top: 10px;
    border-bottom: 1px solid black;
    color: rgb(18, 18, 173);
    cursor: pointer;
}
.insert
{
    margin-top: 10px;
    display:  flex;

    flex-direction: column;
    gap:10px
}
.insert input
{
    padding: 4px;
    width: 100%;
     outline: none;
}
.btnInciarSesion
{
    margin-top: 15px;
    padding: 14px;
    outline: none;
    border: none;
    color: white;
   background-color:#630303;;
   
}
.btnInciarSesion:hover
{
  
      background-color:#6d2525;;
}