.ConteinerMotoDescripcion
{
  height: 60vh;
  display: flex;
  width: 55vw;
  justify-content: space-around;
  align-items: center;
  
}
.imgMotoDes
{
  border: 1px solid black;
  height: 35vh;
  width: 23vw;
  

}