.contTabla {
  width: 100%;
  margin: 0;
  border-collapse: collapse;

  border-collapse: collapse;
  text-align: center; /* Centra horizontalmente el texto */
}


.contTabla td {

padding: 8px;

  
  border: 1px solid #6d6c6c;
  text-align: center; /* Centra horizontalmente */
  vertical-align: middle; /* Centra verticalmente */
}

.contTabla thead {
  background-color: #6e1717;

  font-weight: bold;

  color: aliceblue;

  font-size: 23px;

}

.btnAtender
{  
    padding: 8px;
    color: white;
    border: 1px solid black;
    background-color: rgb(143, 15, 15);
}

.btnAtender:hover
{  
    background-color: rgb(182, 21, 21);
}

